body {
  font-family: sans-serif;
  padding: 10px 10px;
  vertical-align: middle;
  background-color: #f5eac4;
}

h1 {
  color: black;
  padding-left:250px;
  font-family:cursive;
  font-size: 50px;
  text-decoration: #3bb327 underline;
  margin:auto;
  display:block;
}

nav {
    display:inline-block;
    color:green;

}
nav ul li a:link, nav ul li a:visited {
  color: #F9AB33;
}
nav ul li {
  font-size: .8em;
  text-transform: uppercase;
  flex: none;
}
nav ul li a {
  display: block;
  border: 1px solid;
  padding: .4em 1em;
  border-radius: 1.3em;
  margin: .25em;
}
nav ul {
  margin: 0;
  padding-left: 100px;
  padding-right: 100px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
nav li {
    margin: 0;
    padding: 10px;
    display: inline;
  }
.locate{
    text-align:right;
}
.current_page {
    border:3px dotted brown;
    padding: 4px;
  }
.form_feedback {
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
    font-size: 15px;
  }
footer {
    padding: 3px 3px;
    background-size: contain;
    background-color:green;
  }

p {
  color: black;
  font-size: 20px;
  text-align:center;
  font-family:'Times New Roman', Times, serif;
}
.menu{
    display:inline-block;
  list-style-type:armenian;
  color: purple;
  text-align: left;
  padding: 20px;
  text-decoration:none;
  border-style:none;
  border-color:black;
  margin-left: 20px;
  margin-right: 20px;
  font-family: verdana, sans-serif;
}

h2 {
    color: white;
    text-align: center;
    text-decoration:orange underline;
    font-size: 30px;
    font-family:garamond;
    padding: 0;
    background-color:#b52019;
}
li {
  color: black;
  font-family: verdana;
  padding: 0;
  text-align:center;
  list-style-position: inside;


}
.images1{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
}
.images2{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
}
.images2{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
}
.images3{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
}

em {
   font-weight: bold;
   color: #3bb327;
}
blockquote {
  color: black;
  text-align:center;
  text-decoration:underline;
}
h3 {
    color: white;
    text-align: center;
    text-decoration:red underline;
    font-size: 30px;
    font-family:garamond;
    padding: 0;
    background-color:orange;
}
h4 {
    color:#e88123;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}
h5{
    color: green;
    text-align:center;
    font-size:20px;

}
.hotel {
    display: block;
    max-width: 100%;
}
.hotel p {
    font-size:15px;

}

.location {
    padding:0px;
    margin:0px;
}

dl {
  text-align: center;
  margin: 0;
  padding:15px;
  margin-top: 10px;
  border:4px solid purple;
}

dt {
    padding-top:10px;
    padding-bottom:5px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style:double;
    text-decoration-color: purple;
    color:#c45138

}
.vendorimages{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
}

.vendors{
    padding:10px;
}
.hidden {
    display: none;
  }

  .errorContainer {
    display: inline-block;

    color: red;
    padding-left: 5px;

    font-size: 14px;
    text-align: center;
  }

  .formId{
      display:flex;
      flex-direction:row;
      padding:10px;

  }
  .formId2{
      display:flex;
      flex-direction:row;
      padding:10px;

  }
  .formId3{
      display:flex;
      flex-direction:row;
      padding:10px;

  }
  .formId4{
      display:block;
      padding:10px;
  }
/* mobile */
	@media (max-width: 600px) {
    .navbar{
        display:flex;
        flex-direction:row;
        flex-wrap: nowrap;

        }

        nav ul {
            flex:1 1 50%;
        }

        li.menu {
            margin: 0;
        }
    h1 {
        text-align: center;
        font-size: 35px;
        display:block;
        padding-left: 10px;
        max-width:100%
    }
    .logo img{
        display: block;
        max-width: 100%;
    }
    .location img{
        display: block;
        max-width: 100%;
    }
    .monk img{
        display: block;
        max-width: 100%;
    }
    .cider img{
        display: block;
        max-width: 100%;
    }
    .vendorimages img{
        display: block;
        max-width: 100%;
    }
    .map img{
        display: block;
        max-width: 100%;
    }
    .images1 img{
        display: block;
        max-width: 100%;
    }
    .images2 img{
        display: block;
        max-width: 100%;
    }
    .images3 img{
        display: block;
        max-width: 100%;
    }


    .formId{
        display:flex;
        flex-direction:row;
        text-align: center;
        padding:10px;

    }
    .formId2{
        display:flex;
        flex-direction:row;
        padding:10px;

    }
    .formId3{
        display:flex;
        flex-direction:row;
        padding:10px;

    }
    .formId4{
        display:block;
        padding:10px;
    }

    }


    #galleryContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

      }

      #galleryContainer img {
        height: 200px;
        padding:20px;
        padding-left: 55px;

      }

      #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }

      #myImg:hover {opacity: 0.7;}

      .photo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .photofigure img {
        height: 100px;
      }

      .photo figcaption {
        text-align: center;
      }

      #detail_container img {
          height: 199px;
          width: 300px;
          padding-left: 400px;
          align-items: center;
      }
      .tag_align {
        text-align: center;
        font-family:'Times New Roman', Times, serif;
        margin: auto;
        max-width: 500px;
        margin-bottom: 20px;
    }
      #search_form  {
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    height: 30px;
    padding-left:55px;
}

     #tagss {
        display: inline-block;
        background: black;
        align-items: center;
        max-width: 900px;
        padding:10px;
        color:black;
    }
    .name_image {
        color: red;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }
    #tagss p {
        color:white;
    }


    #enlarge {
        padding-left: 250px;
        height: 400px;
        width: 600px;


    }
    #enlarge p {
       color:red;

    }


#description {
    color:crimson;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#source_info {
    color:black;
    text-align: center;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.center_info {
    text-align: center;
    margin: auto;
}
.info{
    color:black;
    text-align:center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.tag_decoration{
    color:white;
    text-align: center;
    margin: auto;
    background-color:crimson;
    padding: 5px;
    margin-right: 5px;

}
.group_label_input{
    text-align: center;
    display:block;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}
.tag_decoration2{
    color:white;
    text-align: center;
    margin: auto;
    background-color: crimson;
    padding: 5px;
    margin-right: 5px;

}
#remove {
    color: white;
    margin-top: 2px;
    text-align: center;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.205);
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 400px;
}

#enlarge_image {
    height: 250px;
    width:350px;

}

#image_remove {
    color: white;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    background-color: crimson;
    padding:10px;
    margin-left: 5%;
    margin-right:20px;
    margin-bottom: 400px;
}

.image_remove {
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: crimson;
    padding:10px;
}

#box_desc{
    font-size:12px;
    height: 25px;
    width: 280px;
}
#add_tag{
    color:black;
    font-size:18px;
    font-family: 'Times New Roman', Times, serif;

}

#delete_tag{
    color:black;
    font-size:18px;
    font-family: 'Times New Roman', Times, serif;
}
#delete_image{
    color:white;
    background-color: black;
    margin-top: 20px;
    height:30px;
    width:100px;
    margin-bottom: 50px;
}

#words_tag{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 17px;

}

#delete_tag{
    font-size:12px;
    height: 15px;
    width: 150px;
}
#add_tag{
    font-size:12px;
    height: 15px;
    width: 150px;
}

.message p{
    color:red;
    font-size: 12px;
    text-align:center;
    padding:0px
}
